<div class="container">
<div class="jumbotron">
<h1>About this project</h1>
<p>This is the first step towards developing several ideas that have been bouncing around in my head for some time now.  The ability to quickly implement different UI elements and creating the framework around them will allow me to both realize my own ideas, as well as help my friends with theirs.  Ideally, one of these ideas will take off, and me and my friends will be rich beyond measure.  Or... I take a few hundred bucks to set it up for them.</p>
</div>
</div>